@model IEnumerable<ACAPackagesListener.API.Models.Entities.MallMap>
@{
    ViewBag.Title = "Administración de Mapas";
}
<div class="row">
    <div class="col-sm-offset-2 col-sm-8" style="margin-top: 10px">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>Administración de Mapas</h2>
            </div>

            <div class="panel-body">
                <table class="table table-striped">
                    <tr>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Seleccionado</th>
                        <th><i class='glyphicon glyphicon-plus'></i> @Html.ActionLink("Agregar mapa", "Add","Map",new RouteValueDictionary(),new Dictionary<String,object>{{"data-toggle","modal"},{"data-target","#add-map-modal"}})</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Selected)
                            </td>
                            <td>
                                <a href="@Url.Action("Edit/"+item.MapId,"Map")" data-toggle="modal" data-target="#edit-map-modal"> <i class='glyphicon glyphicon-edit'></i> Editar</a> 
                                <a href="@Url.Action("Delete/"+item.MapId,"Map")" onclick ="borrarMapa(this); return false;" > <i class='glyphicon glyphicon-trash'></i> Eliminar</a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>

<div id="add-map-modal"  class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="edit-map-modal"  class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<script>
    var borrarMapa = function (link) {
        if(confirm("¿Está seguro que desea eliminar el mapa? Este cambio es irreversible.")){
            $.ajax({
                url: link.href,
                method: 'GET',
                dataType: 'json',
                success: function (json) {
                    $("#showAlert").attr('class', 'alert alert-info');
                    $("#showAlert").html('<button type="button" class="close" data-dismiss="alert">×</button>El usuario ha sido eliminado');
                    $(link).parent().parent().remove();
                }
            });
        }
    };
</script>