@model IEnumerable<ACAPackagesListener.API.Models.Entities.User>

@{
    ViewBag.Title = "Administración de usuarios";
}
<div class="row">
    <div class="col-sm-offset-2 col-sm-8" style="margin-top:10px">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>Administración de usuarios</h2>
            </div>
            
            <div class="panel-body">
                <table class="table table-striped">
                    <tr>
                        <th>
                            Usuario
                        </th>
                        <th>
                            Administrador
                        </th>
                        <th><i class='glyphicon glyphicon-plus'></i> @Html.ActionLink("Agregar usuario", "Add","Account",new RouteValueDictionary(),new Dictionary<String,object>{{"data-toggle","modal"},{"data-target","#add-account-modal"}})</th>
                    </tr>
                    @foreach (var item in Model) {
                        <tr id="">
                            <td>
                                @Html.ActionLink(item.Username, "Edit", new { id=item.UserId })
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsAdmin)
                            </td>
                            <td>
                                <a href="@Url.Action("Edit/"+item.UserId,"Account")"> <i class='glyphicon glyphicon-edit'></i> Editar</a> 
                                @if (item.Username != "root"){
                                    <a href="@Url.Action("Delete/"+item.UserId,"Account")" onclick ="borrarUsuario(this); return false;" > <i class='glyphicon glyphicon-trash'></i> Eliminar</a>
                                }
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
    
<div id="add-account-modal"  class="modal fade " tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm"></div>
</div>
<script>
    var borrarUsuario = function (link) {
        if(confirm("¿Está seguro que desea eliminar el usuario? Este cambio es irreversible.")){
            $.ajax({
                url: link.href,
                method: 'GET',
                dataType: 'json',
                success: function (json) {
                    $("#showAlert").attr('class', 'alert alert-info');
                    $("#showAlert").html('<button type="button" class="close" data-dismiss="alert">×</button>El usuario ha sido eliminado');
                    $(link).parent().parent().remove();
                }
            });
        }
    };
</script>