@using ACAPackagesListener.API.Models.Entities

@{
    if (Session["UserData"] == null)
    {
        FormsAuthentication.SignOut();
        Response.Redirect("~/Account/Login");
        return;
    }
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/css/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/bootstrap-datetimepicker.min.css")" rel="stylesheet" type="text/css" media="screen"/>
</head>
    <body>
        <div id="topsection">
            <div id="content" class="container">
                <div id="showAlert" class="row"></div>
                @if (ViewBag.HideNav == null || !ViewBag.HideNav)
                {
                    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                      <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href='@Url.Action("Index", "Home")'>&nbsp;Auto Comsumer Analisys</a>
                        </div>

                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right" >
                                @if (Session["UserData"] != null && ((User)Session["UserData"]).IsAdmin)
                                {
                                    <li ><a href='@Url.Action("List", "Account")'><i class="glyphicon glyphicon-user"></i> Manejar Usuarios</a></li>
                                    <li ><a href='@Url.Action("Index", "Device")'><i class="glyphicon glyphicon-cog"></i> Configuraciones</a></li>
                                }
                                <li><a href='@Url.Action("Index", "Report")'><i class="glyphicon glyphicon-book"></i> Reportes</a></li>
                                <li><button class="btn btn-danger navbar-btn" onclick="location.href='@Url.Action("Logout", "Account")'; return;"><b><i class="glyphicon glyphicon-off"></i> Salir</b></button></li>
                            </ul>
                        </div>
                      </div>
                    </nav>
                }
                @RenderBody()
            </div>
        </div>
        <div class="footer"></div>
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript">
            var base_url = '@HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority)@Url.Content("~/")';
            $('body').on('hidden.bs.modal', '.modal', function () {
                $(this).removeData('bs.modal');
            });
        </script>
        <script src="@Url.Content("~/Scripts/moment-2.4.0.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/bootstrap-datetimepicker.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
        @if (ViewBag.HasMap != null && ViewBag.HasMap)
        {
            var map = 0;
            <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?v=3.exp&libraries=visualization&key=AIzaSyA8XhsuuGBy8fBxJM1H8fO-p13zWdMoaWg&sensor=false"></script>
            <script src="@Url.Content("~/Scripts/maplabel.js")" type="text/javascript"></script>
            <script src="@Url.Content("~/Content/js/mapbasic.js")" type="text/javascript"></script>
            if (ViewBag.Scripts != null)
            {
                foreach (var script in ViewBag.Scripts)
                {
                    <script src="@Url.Content("~/Content/js/" + script)" type="text/javascript"></script>
                }
            }
        }
    </body>
</html>
