@using ACAPackagesListener.API.Models.Entities
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/bootstrap-datetimepicker.min.css")" rel="stylesheet" type="text/css" media="screen"/>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/start/jquery-ui.css" />
</head>

    <body>
        <div id="content" class="container-fluid">
            <div id="showAlert" class="row-fluid"></div>
            @if (ViewBag.HideNav == null || !ViewBag.HideNav)
            {
                <div class="navbar navbar-fixed-top">
                    <div class="navbar-inner">
                        <div class="container">
                            <a class="brand" href='@Url.Action("Index", "Home")'>Auto Comsumer Analisys</a>
                            <ul class="nav pull-right">
                                @if (((User)Session["UserData"]).IsAdmin)
                                {
                                    <li><a href='@Url.Action("Index", "Device")'>Configuraci&oacute;n de Dispositivos</a></li>
                                }
                                <li><a href='@Url.Action("Index", "Report")'>Reportes</a></li>
                                <li class=""><a href='@Url.Action("Logout", "Account")'><b>Logout</b></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            }
            @RenderBody()
        </div>
        <script type="text/javascript">
            var base_url = '@HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority)@Url.Content("~/")';
        </script>
        <script src="@Url.Content("~/Content/js/jquery.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Content/js/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
        <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
        @if (ViewBag.HasMap != null && ViewBag.HasMap)
        {
            var map = 0;
            <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=visualization&key=AIzaSyA8XhsuuGBy8fBxJM1H8fO-p13zWdMoaWg&sensor=false"></script>
            <script src="@Url.Content("~/Content/js/mapbasic.js")" type="text/javascript"></script>
            <script src="@Url.Content("~/Content/js/bootstrap-datetimepicker.min.js")" type="text/javascript"></script>
            if (ViewBag.Scripts != null)
            {
                foreach (var script in ViewBag.Scripts)
                {
                    <script src="@Url.Content("~/Content/js/" + script)" type="text/javascript"></script>
                }
            }
        }
    </body>
</html>
